# BDD
DANEO_DB_URL=jdbc:postgresql://localhost:5432/daneo
DANEO_DB_USERNAME=change-me
DANEO_DB_PASSWORD=change-me

# SPRING ENVIRONMENT
SPRING_PROFILES_ACTIVE=dev

# IMAGE STOCK
DANEO_IMAGE_STORAGE_PATH=./storage/images
DANEO_PUBLIC_BASE_URL=change-me

# OpenAI
DANEO_OPENAI_API_KEY=change-me
DANEO_OPENAI_PROJECT_ID=change-me
DANEO_OPENAI_BASE_URL=change-me
DANEO_OPENAI_MODEL_TEXT=change-me
DANEO_OPENAI_MODEL_IMAGE=change-me

# CORS
DANEO_ALLOW_ORIGIN=http://localhost:5173