# BDD
DANEO_DB_URL=jdbc:postgresql://localhost:5432/daneo
DANEO_DB_USERNAME=change-me
DANEO_DB_PASSWORD=change-me

# SPRING ENVIRONMENT
SPRING_PROFILES_ACTIVE=dev

# IMAGE STOCK
DANEO_IMAGE_STORAGE_PATH=./storage/images

# OpenAI
DANEO_OPENAI_API_KEY=change-me